<div class="container text-white ">
<h2 class="my-4">Des étapes à suivre : </h2>
<div class="list-group">
  <ul class="list-group list-group-item-light">
    <li class="list-group-item  list-group-item-warning">Première étape: symptômes</li>
    <p> Si vous présentez des symptômes évocateurs d’une infection au Covid-19:</p>
    <ul>  Symptômes les plus fréquents:
    <li> fièvre</li>
    <li> toux sèche</li>
    <li> fatigue</li>
  </ul>
    <br>
    <ul>Symptômes moins fréquents:
     <li> courbatures</li>
      <li> maux de gorge</li>
      <li> diarrhée</li>
      <li>conjonctivite</li>
      <li>maux de tête</li>
      <li>perte de l’odorat ou du goût</li>
      <li>éruption cutanée, ou décoloration des doigts ou des orteils</li>
  </ul>
  <br>
    <p>  Il faut agir, n’attendez pas que cela passe Vous êtes invité alors à contacter  immédiatement votre médecin,
      ou un médecin de notre  liste des médecins volontaires.
    </p>
  </ul>
  <ul class="list-group list-group-item-light">
    <li class="list-group-item  list-group-item-primary"> Deuxième étape: tests</li>
    <p> Si le médecin le juge opportun, «il vous prescrira un test de dépistage en vous orientant vers un hôpital, un laboratoire de ville.</p>
  </ul>
  <ul class="list-group  list-group-item-light" >
  <li class="list-group-item list-group-item-danger">Troisième étape: isolement à domicile </li>
  <p> Si l’isolement est effectué à domicile, il faudra déjà y rester en attendant le résultat du test. Et si le test est positif, le poursuivre « jusqu’à deux jours après guérison des symptômes c’est-à-dire en moyenne pendant 8 à 10 jours </p>
  <p> Si vous ne vivez pas seuls, il sera recommandé de rester dans une pièce spécifique, d’éviter les contacts avec les autres occupants, d’aérer régulièrement, de se laver les mains fréquemment, d’éviter de toucher des objets qui peuvent être touchés par les autres, de désinfecter les surfaces régulièrement touchées comme les poignées de porte ou les téléphones portables.</p>
  <p> Si vous êtes en présence de votre conjoint, nos médecins vous conseilleront de porter en permanence un masque </p>
  </ul>
</div>
</div>
