<h1 class="text-white">Ajout d'un medecin </h1>

<div class="row text-white">
    <div class="col-sm-8 col-sm-offset-2">
        <form [formGroup]="addMEDForm" (ngSubmit)="addMedecin()">

            <div class="form-group">
                <label>Id : </label>
                <input type ="text" formControlName="id" class="form-control" [(ngModel)]="m.id">
            </div>

          <div class="alert alert-danger" *ngIf="addMEDForm.controls['id'].touched && addMEDForm.controls['id'].hasError('required')">
              <div>
                Ce champ est obligatoire
              </div>
          </div>

          <div class="form-group">
              <label>Nom de medecin : </label>
              <input type ="text" formControlName="nameDoctor" class="form-control" [(ngModel)]="m.nameDoctor">
          </div>

          <div>
              <div class="alert alert-danger" *ngIf="addMEDForm.controls['nameDoctor'].hasError('required') && addMEDForm.controls['nameDoctor'].touched">
                Ce champ est obligatoire
              </div>
          </div>

        <div class="form-group">
            <label>Numéro de téléphone : </label>
            <input type ="tel" formControlName="phonenumber" class="form-control" [(ngModel)]="m.phonenumber" mask="00 000 000" placeHolder="00 000 000">
        </div>

      <div class="alert alert-danger" *ngIf="addMEDForm.get('phonenumber').errors && addMEDForm.controls['phonenumber'].touched && addMEDForm.controls['phonenumber'].hasError('required')">
          <div >
            Ce champ est obligatoire
          </div>
        <!--  <div *ngIf="addMEDForm.controls['phonenumber'].hasError('pattern')">
            the phonenumber field contains only number and space
          </div> -->
      </div>

      <div class="form-group">
        <label>Nom de gouvernorat: </label>
        <input type ="text" formControlName="namegouv" class="form-control" [(ngModel)]="m.namegouv">
      </div>

        <div class="alert alert-danger" *ngIf="addMEDForm.controls['namegouv'].touched && addMEDForm.controls['namegouv'].hasError('required')">
          <div>
            Ce champ est obligatoire
          </div>
        </div>
          <button type="submit" [disabled]="addMEDForm.invalid" class="btn btn-success" >Ajouter </button>
    </form>
  </div>
</div>
