
<!----<div class="container">
  <div class="row">
    <div class="banner">
      <img src="./assets/image/tunisie.jpg" alt="image">
      <h1 class="heading">Vous pouvez consulter et gérer le nombre des cas covid dans chaque gouvernorat  dans ce site web</h1>
    </div>
  </div>
</div>

--->
<!--
<div class="card-body">
  <h5 class="card-title">Special title treatment</h5>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div> -->

<div class="card-body">
<div class="d-flex flex-column align-items-center box ">
  <h1 class="card-title">Actualité de coronavirus en tunisie</h1>
  <p class="card-body"> stay safe and wear the mask</p>
  <button routerLink="auth/signin" class="btn btn-outline-dark btn-lg">CONNEXION</button>
</div>
</div>

